{% extends 'base.html' %}

{% block pageheading %}{% endblock %}

{% block main %}
    <h2> {{ category_selected }}</h2>
    <h3> {{ cat_descs[0][0] }}</h3>
    {% if teacher %}
    <h2><a href="{{ url_for ('render_delete_category', type=category_selected) }}">Delete Category</a></h2>
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <td><strong>Māori</strong></td>
                <td><strong>English</strong></td>
                <td><strong>Image</strong></td>
            </tr>
        </thead>
        <tbody>
        {% for dict_data in dict_list %}
            <tr>
                <td><a href="{{ url_for('render_word', type=dict_data[1]) }}">{{dict_data[1]}}</a></td>
                <td>{{dict_data[2]}}</td>
                <td><img src="/static/images/{{ dict_data[5] }}"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if teacher %}
    <form class="dataForm" method="post">
        <div class="form-group">
            <div class ="form-label"> Maori Word:</div>
            <div class="form-element"><input type="text" id="maori" name="maori"></div>
        </div>
        <div class="form-group">
            <div class ="form-label"> English Translation:</div>
            <div class="form-element"><input type="text" id="english" name="english"></div>
        </div>
        <div class="form-group">
            <div class ="form-label"> Definition:</div>
            <div class="form-element"><input type="text" id="description" name="description"></div>
        </div>
        <div class="form-group">
            <div class ="form-label"> Level:</div>
            <div class="form-element"><input type="text" id="level" name="level"></div>
        </div>
        <div class="form-group">
            <input type="submit" value="Submit">
        </div>
    </form>
    {% endif %}
{% endblock %}


