{% extends 'base.html' %}

{% block pageheading %}{% endblock %}

{% block main %}
{% for dict_data in word_info %}
<h2>{{ word_selected }} ({{dict_data[1]}})</h2>

<table class="table">
    <thead>
        <tr>
            <td><strong>Definiton</strong></td>
            <td><strong>Level</strong></td>
            <td><strong>Date Added</strong></td>
            <td><strong>Edited By</strong></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{dict_data[2]}}</td>
            <td>{{dict_data[3]}}</td>
            <td>{{dict_data[5]}}</td>
            <td>Working on it</td>
            <img src="/static/images/{{ dict_data[4] }}">
        </tr>
    </tbody>
</table>
{% endfor %}
{% endblock %}